.left{
  width: 200px;
  padding: 20px;
  position: fixed;
}

.right {
  border-left: 1px solid #e8e8e8;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.cart {
  width: 250px;
  padding: 15px;
  position: fixed;
  right: 0;
}
